# Gradle / Android
.gradle/
**/build/
android/local.properties
local.properties
*.apk
*.aab
*.ap_
*.dex
captures/
.externalNativeBuild/
.cxx/

# Xcode / iOS
**/DerivedData/
**/build/
*.xcuserstate
project.xcworkspace/xcuserdata/
*.xcuserdatad/
*.swp
*.lock
Podfile.lock
Pods/
.build/

# IDE / OS
.idea/
*.iml
.DS_Store
.kotlin/
*.log
Thumbs.db
.vscode/
